<%- include('../partials/headStart') %>
    <link rel="stylesheet" href="/stylesheets/home/index.css">
    <link rel="stylesheet" href="/stylesheets/components/background.css">
    <link rel="stylesheet" href="/stylesheets/other/index.css">

    <script src="/javascript/nav/userForm.js"></script>
    <script src="/javascript/home/index.js"></script>
<%- include('../partials/headEnd') %>
<body class="mode">
    <!-- insert navbar via ejs-->
    <%- include('../partials/components/navbar') %>

    <!-- Background image and text -->
    <section id="background" style="background-image: url('<%=platform.imageUrl%>'); background-size: cover;">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-12 background-title">
                    <h1>Alsion Early College</h1>
                    <p>Important information and documents about Alsion's Early College Program</p>
                </div>
            </div>
        </div>
    </section>

    <main id="main-container">
        <div class="container mt-5">
            <div class="row text-element">
                <div class="col-lg-6">
                    <article class="text-block mode">
                        <div class="block-header <% if (platform.homepageInfo) {%> green <% } %>">
                            <h2>Navigating Ohlone College</h2>
                        </div>
                        <div class="block-content mode">
                            <p>Alsion's Early College Program gives students a head start on college by giving them access to college courses and credits.</p>
                            <p>Please find attached the following YouTube videos, compiled by EC director John Lubushkin, which display a full presentation of the Early College, and a guide to navigating Ohlone College's website.</p>
                            <p>Additionally, please find attached two calendars that comprise Ohlone's Academic and Admission information.</p>
                            <ul>
                                <h5><li><a target="_blank" href="https://www.youtube.com/watch?v=yK0TuE2q8_M">Fall 2021 Early College Meeting</a></li></h5>
                                <h5><li><a target="_blank" href="https://www.youtube.com/watch?v=1Xb2gF5_yM0">How To Buy Textbooks At Ohlone</a></li></h5><br>
                                <h5><li><a target="_blank" href="https://www.ohlone.edu/sites/default/files/groups/Curriculum_and_Scheduling/Documents/2021-2022_academic_calendar_-_official.pdf">Ohlone Academic Calendar</a></li></h5>
                                <h5><li><a target="_blank" href="https://www.ohlone.edu/admissions/academiccalendar">Ohlone Admissions Calendar</a></li></h5>
                            </ul>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6 block">
                    <img class="image-block" src="https://www.ohlone.edu/sites/default/files/styles/hero_slideshow/public/images/hero-banners/untitled-1.jpg?itok=DibPGEpp"
                        alt="Image Does Not Exist">
                </div>
            </div>
        </div>
    </main>

    <main id="main-container">
        <div class="container mt-5">
            <div class="row text-element">
                <div class="col-lg-6 block">
                    <img class="image-block" src="https://alsionschool.org/images/student-life/study_center_2.jpg"
                        alt="Image Does Not Exist">
                </div>
                <div class="col-lg-6">
                    <article class="text-block mode">
                        <div class="block-header <% if (platform.homepageInfo) {%> green <% } %>">
                            <h2>AP Literature and Language</h2>
                        </div>
                        <div class="block-content mode">
                            <p>Alsion Early College offers both AP English Language and AP English Literature for our students in 10th Grade. These courses teach students critical reading and writing skills necessary to thrive in college and beyond.</p>
                            <p><a target="_blank" href="https://docs.google.com/document/d/1ongXa6a3u8p3i1HMTnkDQ9foMZSghNfbnPS8YzxxMro/edit?usp=drive_web">Click Here</a> to view the entire syllabus for both AP Literature and AP Language.</p>
                        </div>
                    </article>
                </div>

            </div>
        </div>
    </main>

    <!-- Home Page content -->
    <main id="main-container">
        <div class="container mt-5">
            <div class="row text-element">
                <div class="col-lg-6">
                    <article class="text-block mode">
                        <div class="block-header <% if (platform.homepageInfo) {%> green <% } %>">
                            <h2>EC Graduation Requirements</h2>
                        </div>
                        <div class="block-content mode">
                            <p>In order to graduate from Alsion, students must meet a set of course requirements, as well as 40 hours of volunteering.</p>
                            <p>Please find attached below the Early College calendar, California A-G course graduation requirements and a volunteer hours form.</p>
                            <ul>
                                <h5><li><a target="_blank" href="https://alsionschool.org/images/calendar/2021-2022_Parent_Calendar_EC_2.pdf">EC Calendar</a></li></h5>
                                <h5><li><a target="_blank" href="https://drive.google.com/file/d/1U9D9lXaiklTlihmW9gLCygElSJL22Kw9/view?usp=sharing">California A-G Course Requirements</a></li></h5>
                                <h5><li><a target="_blank" href="https://drive.google.com/file/d/18ut-lW9KedWMQymcsUkGECvFf8TECPM2/view?usp=sharing">Volunteering Hours Form</a></li></h5>
                            </ul>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6 block">
                    <img class="image-block" src="https://alsionschool.org/images/community/gallery/Garden2.jpg"
                        alt="Image Does Not Exist">
                </div>
            </div>
        </div>
    </main>
    
        <script>
            window.onload = (() => {
                window.onscroll = (() => {
                    updateNav();
                    animateDisplay();
                });
            });
        </script>
        <script src="/javascript/embed.js"></script>
</body>
</html>
