<!DOCTYPE html>
<html>
<head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/profile/edit.css">
    <%if (currentUser) {%>
      <%if (currentUser.darkmode) { %>
        <link rel="stylesheet" href="/stylesheets/Darkmode.css">
      <%}%>
    <%}%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
</head>
<body class="mode">
    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <!-- include the backdrop for nav -->
    <%- include('../partials/header') %>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12" id="edit-settings">
                <h1 id="settings-header">Edit Account Settings</h1>
                <a class="btn btn-primary" href="/profiles/<%= currentUser._id %>"><i class="fas fa-arrow-left"></i> Back</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-8 offset-md-2 col-12">
                <h4 class="mb-3">Change Email</h1>
                <form action="/profiles/change-email?_method=put" method="post">
                    <div class="form-group mode">
                        <label for="usernameInput">Email</label>
                        <input id="usernameInput" class="form-control mode" type="text" name="email" value="<%= currentUser.email %>" placeholder="Enter New Email" required><br />
                        <input type="checkbox" name="receiving_emails" id="receiving_emails" <% if (currentUser.receiving_emails) {%> checked <%}%>/>
                        <label for="receiving_emails">Send Me Emails</label>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block">Change Email Settings</button>
                </form>
                <h4 class="mt-5 mb-3">Change Password</h4>
                <form action="/profiles/change-password?_method=put" method="post">
                    <div class="form-group mode">
                        <label for="usernameInput">Old Password</label>
                        <input id="usernameInput" class="form-control mode" type="password" name="oldPassword" placeholder="Enter Old Password" required>
                    </div>
                    <div class="form-group mode">
                        <label for="usernameInput">New Password</label>
                        <input id="usernameInput" class="form-control mode" type="password" name="newPassword" placeholder="Enter New Password" minlength="8" required><br />
                        <label for="usernameInput">Confirm New Password</label>
                        <input id="usernameInput" class="form-control mode" type="password" name="newPasswordConfirm" placeholder="Confirm New Password" minlength="8" required>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block">Change Password</button>
                </form>

                <br />
                <!-- <form action="/profiles/delete-account?_method=delete" method="post" id="delete-account">
                  <button type="button" class="btn btn-lg btn-danger btn-block" data-toggle="modal" data-target="#modal" id="delete-button">Delete Account</button>
                  <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Delete Account?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          All of your account data will be deleted.
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Go Back</button>
                          <button type="submit" class="btn btn-danger">Yes, Delete My Account</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form> -->
                <br />
            </div>
        </div>
    </div>
</body>
</html>
