<!DOCTYPE html>
<html>
<head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/profile/index.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-12">
                <h1 class="title">Users</h1>
                <div class="search-filter">
                    <i class="fas fa-search"></i>
                    <input id="search-input" onkeyup="searchFunction()" class="form-control" type="text" placeholder="Search..." title="Type in Username">
                </div>
                <div class="list-group" id="user-list">
                    <% users.forEach(user => { %>
                        <a href="/profiles/<%= user._id %>" class="list-group-item list-group-item-action">
                            <% if(user.imageUrl) { %>
                                <div class="profile-image" style="background-image: url('<%= user.imageUrl %>');">
                            <% } else { %>
                                <div class="profile-image" style="background-image: url('https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png');">
                            <% } %>
                            </div>
                            <span><%= user.username %></span>
                        </a>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
    <script>
        function searchFunction() {
            let input = document.getElementById("search-input");
            let filter = input.value.toUpperCase();
            let list = document.getElementById("user-list");
            let a = list.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                user = a[i].getElementsByTagName('span')[0];
                txtValue = user.textContent || user.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";
                }
            }
        }
    </script>
</body>
</html>
