<!DOCTYPE html>
<html>
<head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/components/header.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
    <script src="/javascript/nav/userForm.js"></script>
    <script src="/javascript/nav/navbar.js"></script>
    <script src="/javascript/home/index.js"></script>
</head>
<body>
    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <!-- include the backdrop for nav -->
    <%- include('../partials/header') %>

    <div class="container mt-5" style="border-color: black; background-color: lightgrey; border-radius: 15px; padding: 30px;">
      <div class="row mt-3">
          <div class="col-md-8 offset-md-2 col-12">
              <h4 style="text-align: center;" class="mt-5 mb-3">Reset Password</h4>
              <br />
              <form action="/reset-password?_method=put&user=<%=user%>" method="post">
                  <div class="form-group">
                      <input id="usernameInput" class="form-control" type="password" name="newPwd" placeholder="Enter New Password" minlength="8" required style="border-color: darkgrey; border-width: 1px;"><br />
                      <input id="usernameInput" class="form-control" type="password" name="newPwdConfirm" placeholder="Confirm New Password" minlength="8" required style="border-color: darkgrey; border-width: 1px;">
                  </div>

                  <button class="btn btn-lg btn-primary btn-block">Reset</button>
              </form>

              <br />
          </div>
      </div>
    </div>
</body>
</html>
