.mode, .mode:focus, .mode:hover, .list-group-item.list-group-item-action.read, .list-group-item.list-group-item-action.read:hover {
  background-color: #343a40;
  color: white;
}

.darkmode {
  color: white;
}

#inbox-nav-break {
    color:#d1ecff;;
}

.search, .search:focus{
  color: white;
  background-color: #343a40;
}
.header{
  background-color: grey;
  color: white;
}
.shop,.shop:focus,.shop:hover{
  background-color: #000057;
  color: #7FFFD4;
}
.shoptext{
  color: #7FFFD4;
}

#role-header, #status-header, #email-header, #message-date {
    color: turquoise;
}

.chat, .chat:hover, .chat:focus{
  background-color: #404040;
  color: white;
}
.chatbar, .chatbar:focus, .chatbar:hover{
  background-color: darkgrey;
  color: white;

}
.inboxback{
  background-color: #1f2d53;
}
.inboxtext{
  color: turquoise;
}

.list-group-item.list-group-item-action.unread {
  background-color: #0a061b;
}

.list-group-item.list-group-item-action.unread:hover {
  background-color: #0a061b;
}
