body {
  /* background-image: url('https://images.unsplash.com/photo-1594793861747-136c34047e9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80') */
  /* background-image: url('https://us.123rf.com/450wm/funkyplayer/funkyplayer1803/funkyplayer180300215/97421592-bright-color-seamless-pattern-with-geometric-figures-repeated-diamond-ornamental-abstract-background.jpg?ver=6') */
  /* background-image: url('/images/pattern.jpg'); */
}

.heading {
  text-align: center;
}

.title {
  border-radius: 25px;
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  width: auto;
  color: black;
  height: 50px;
  margin-left: 40px;
  padding-top: 10px;
  font-family: times;
  font-size: 25px;
  color: white;
  background-color: #db391d;
  border-color: black;
  border-width: 2px;
}

.notification {
  border-radius: 25px;
  padding: 20px;
  margin-top: 10px;
  border-color: black;
  border-width: 2px;
  background-color: #e9ecef;
}

.msg-info {
  margin-left: 5px;
  margin-right: 10px;
  color: black;
}

.message {
  color: black;
  border-color: black;
  border-width: 2px;
}

.profile-img {
  height:30px;
  width: 30px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 50%;
}

.delete-button  {
  border-radius: 25px;
  width: 200px;
  height: 30px;
  font-size: 10px;
  color: white;
  background-color: #db391d;
  border-color: 'black';
  border-width: 1px;
  margin-bottom: 10px;
}

#notifButton {
  color: white;
}
