body {
  background-image: url('/images/pattern.jpg');
}

.submit-button {
  background-color: green;
  color: white;
  margin-bottom: 15px;
}

.send-notif-type {
  margin-bottom: 5px;
}

.send-notif-header {
  color: red;
  font-family: times;
  font-style: italic;
  font-weight: bold;
}

.message {
  margin-bottom: 5px;
}

#clear {
  background-color: red;
  color: white;
  margin-left: 10px;
  font-size: 15px;
}

.notif-options {
  background-color: lightgrey;
  /* text-align: center; */
}
