<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav>
                    <a href="/" class="footer-link">About</a>

                    <% if (currentUser) { %>
                      <a href="/contact" class="footer-link">Contact Us</a>
                    <% } %>

                    <!-- <a href="/" class="footer-link">Witherly Heights</a> -->
                    <a href="/alsion" class="footer-link">Alsion</a>
                </nav>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 text-center">
                <p class="footer-text">SaberChat&copy;2020</p>
            </div>
        </div>
    </div>
</footer>
