<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav>
                    <a href="/" class="footer-link">About Saberchat</a>

                    <% if (currentUser) { %>
                        <a href="/contact" class="footer-link">Contact Us</a>
                    <% } %>

                    <!-- <a href="/" class="footer-link">Witherly Heights</a> -->
                    <a href="/info" class="footer-link">About <%=platform.name%></a>
                </nav>
            </div>
        </div>
    </div>
</footer>
