<div class="modal fade" id="modal-pwd" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Forgot Password?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <small class="form-text text-muted" style="margin-bottom: 10px;">We'll send a new password to your email address.</small>
        <input class="form-control"  form="login-form" type="text" name="newPwdEmail" placeholder="Enter email address"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
        <button type="submit" form="login-form" formaction="/forgot-password" class="btn btn-primary">Send New Password</button>
      </div>
    </div>
  </div>
</div>
