<!-- background image -->
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <section id="background" class="jumbotron text-center">
                <!-- <div class="background-content">
                  <h1>Witherly Heights</h1>
                  <p>Alsion Student Newspaper</p>
                </div> -->
            </section>
        </div>
    </div>
</div>

        <!-- witherly heights navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/articles/">Witherly Heights</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Opinion</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Culture</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="#">Arts</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Issue 5</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
