.user-list {
    max-height: 10rem;
    overflow-y: scroll;
    border: 1px solid #ced4da;
    padding: 10px;
    margin-bottom: 1rem;
}

.search-filter {
    margin-bottom: 2rem;
    border-bottom: 1px solid #424651;
}

input.search-input {
    display: inline-block;
    width: 80%;
    border: none !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.title {
    color: #9f9aa4;
}

.title span {
    color: #424651;
}

label, h4 {
    font-size: 1.1rem;
    font-weight: 400;
}