.new-room, .title {
    text-align: center;
}

.title {
    width: 100%;
}

#remove-block, #add-block {
    display: none;
}

.room-name {
    font-weight: bold;
}

.latest-message {
    padding-top: 15px;
}

.room-created {
    font-style: italic;
}

.comment-text {
    display: inline-block;
    margin-left: 10px;
}

.user-list {
    max-height: 10rem;
    overflow-y: scroll;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 10px;
    margin-bottom: 1rem;
}

.user-image {
    object-fit: cover;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: inline-block;
    margin-top: -30px;
}

.search-filter {
    margin-bottom: 2rem;
    border-bottom: 1px solid #424651;
}

input.search-input {
    display: inline-block;
    width: 80%;
    border: none !important;
    border-radius: 0;
    outline: 0 !important;
    box-shadow: none !important;
}

.search-input:focus, .search-input:active {
    border-bottom: 3px;
}

.title {
    color: #9f9aa4;
}

.title span {
    color: #424651;
}

label, h4 {
    font-size: 1.1rem;
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
    #create-room-button, #create-order-button {
        height: 20%;
    }

    .user-image {
        margin-top: 0px;
        margin-bottom: 10px;
    }
}
