.new-room, .title {
  text-align: center;
}

.title {
  width: 100%;
}

#remove-block, #add-block {
  display: none;
}

.user-list {
    max-height: 10rem;
    overflow-y: scroll;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 10px;
    margin-bottom: 1rem;
}

.user-image {
    object-fit: cover;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.search-filter {
    margin-bottom: 2rem;
    border-bottom: 1px solid #424651;
}

input.search-input {
    display: inline-block;
    width: 80%;
    border: none !important;
    border-radius: 0;
    outline: 0 !important;
    box-shadow: none !important;
}

.search-input:focus, .search-input:active {
    border-bottom: 3px solid rgb(255, 177, 33);
}

.title {
    color: #9f9aa4;
}

.title span {
    color: #424651;
}

label, h4 {
    font-size: 1.1rem;
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
  #create-room-button, #create-order-button {
    height: 20%;
  }
}
