.new-room, .new-chat-header {
  text-align: center;
}

.new-chat-header {
  width: 100%;
}

#user-selection {
  display: none;
}

#user-list {
    max-height: 10rem;
    overflow-y: scroll;
    border: 1px solid #ced4da;
    padding: 10px;
    margin-bottom: 1rem;
}

.search-filter {
    margin-bottom: 2rem;
    border-bottom: 1px solid #424651;
}

input#search-input {
    display: inline-block;
    width: 80%;
    border: none;
    border-radius: 0;
    outline: 0;
    box-shadow: none;
}

#search-input:focus, #search-input:active {
    border-bottom: 3px solid rgb(255, 177, 33);
}

label, h4 {
    font-size: 1.1rem;
    font-weight: 400;
}
