.desc-head {
  padding-top: 20px;
  background-color: #91393f;
}

.profile-head {
  background-color: #91393f;
}

h3, .ratings {
  display: inline;
}

.review-liked, .review-unliked {
  display: inline;
  font-size: 120%;
}

.review-liked {
  color: #03a5fc;
}

.review-unliked, .like-count {
  color: white;
}

.review-date {
  display: inline;
  color: white;
  float: right;
  margin-right: 20px;
}

.tab {
  font-size: 150%;
  margin-bottom: 30px;
}

#reviews {
  color: blue;
}

#bio-length-error {
  color: red;
  margin-bottom: 10px;
  text-align: left;
}

.empty-field {
  text-align: center;
}

.student-profile-image {
  display: inline-block;
  border-radius:50%;
  width:40px;
  height:40px;
  object-fit: cover;
}

.time {
  width: 100%;
}

.student-block {
  margin-right: 30px;
}

.lessons-length {
  font-style: italic;
  float: right;
  margin-right: 30px;
}

.mark-button {
  float: right;
}

.summary {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .profile-desc {
        margin: 1.7rem 0;
    }

    .profile-box {
      margin-bottom: 50px;
    }

    .desc-head {
      font-size: 80%;
    }

    h3 {
      font-size: 120%;
    }

    .ratings{
      display: block;
      margin-top: 10px;
    }

    .review-date {
      display: none;
    }

    .tab, .options-bar {
      display: inline-block;
      font-size: 100%;
      float: center;
    }
}
