/* text and image rows */
article.text-block {
    padding-bottom: 1px;
    background-color: #ffffff;
    margin-bottom: 3rem;
    overflow: hidden;
}

.text-block, .image-block {
    box-shadow: 0px 0px 15px rgb(180, 180, 180);
    border-radius: 15px;
}

.image-block {
    width: 100%;
}

.text-block .block-header {
    padding: 15px 30px 5px 30px;
    background-color: #424651;
    color: #ffffff;
}

.block-header.green {
    border-bottom: 10px solid #08c962;
}

.block-header.red {
    border-bottom: 10px solid #d33913;
}

.block-header.yellow {
    border-bottom: 10px solid #fac748;
}

.text-block .block-content {
    padding: 15px 30px;
}

/* block animations */
#block-2, #block-3 {
    opacity: 0;
    transition: opacity 2s ease-out;
    -webkit-transition: opacity 2s ease-out;
    -moz-transition: opacity 2s ease-out;
}

#block-2.fade-in, #block-3.fade-in {
    opacity: 100%;
}


/* footer */
footer {
    background-color: #424651;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 20px;
}

footer nav {
    text-align: center;
}

footer hr {
    border-radius: 5px;
    border: 1px solid #868686;
}

.footer-link {
    color: #ffffff;
    margin-left: 15px;
    margin-right: 15px;
}

.footer-link:hover {
    color: #808080;
}

/* changes for different screens */
@media only screen and (min-width: 992px) {
    article.text-block {
        margin-bottom: 0;
    }

    img.image-block {
        position: absolute;
        width: calc(100% - 30px);
        height: 100%;
        object-fit: cover;
    }
}