<!DOCTYPE html>
<html lang="en">
<head>
    <!-- home page -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saberchat</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/home/index.css">
    <link rel="stylesheet" href="/stylesheets/components/background.css">
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/components/announcement.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
    <script src="/javascript/nav/userForm.js"></script>
    <script src="/javascript/nav/navbar.js"></script>
    <script src="/javascript/home/index.js"></script>
</head>
<body>
<!-- insert navbar via ejs-->
<%- include('./partials/navbar') %>

<!-- Background image and text -->
<section id="background">
    <div class="container-fluid text-center" style="margin-bottom:0">
        <div class="row">
            <div class="col-12 background-title">
                <h1>SaberChat</h1>
                <p>Welcome to SaberChat, Alsion's very own communication platform!</p>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/announcement')%>

<!-- Home Page content -->
<main id="main-container">
    <div class="container mt-5">
        <!-- Block 1 -->
        <div class="row" style="margin-bottom: 5rem;">
            <div class="col-lg-6">
                <article class="text-block">
                    <div class="block-header green">
                        <h1>About</h1>
                    </div>
                    <div class="block-content">
                        <p>Named after our school mascot, the sabercat, SaberChat is a platform that connects and centralizes Alsion's various communication and notification platforms, streamlining communication between students, faculty, parents and more.</p>
                        <p>Users can quickly access any important information from faculty, communicate with others, order from the No Left Turn Café, and access some of Alsion's unique projects.</p>
                        <p>Centralizing our school's content to an inclusive platform improves our school's identity, as well as relationships between students, parents and faculty across the community.</p>
                        <em><strong>Developers: </strong>Alexander Zhou, Kabir Samsi, Siddharth Chavan, Vibhav Darsha</em>
                    </div>
                </article>
            </div>
            <div class="col-lg-6 block">
                <img class="image-block" src="https://alsionschool.org/images/middle-school/MiddleSchoolMainPage.jpg" alt="fancy pic">
            </div>
        </div>
        <!-- Block 2 -->
        <div class="row" style="margin-bottom: 5rem;" id="block-2">
            <div class="col-lg-6 order-lg-2">
                <article class="text-block">
                    <div class="block-header yellow">
                        <h1>Services</h1>
                    </div>
                    <div class="block-content">
                        <ul>
                            <li><strong>Chat rooms</strong> for students and teachers</li>
                            <li>An <strong>inbox and notification</strong> system featuring an <strong>anonymous hotline</strong></li>
                            <li>An <strong>announcement bulletin</strong> where teachers can post important announcements for all users to see</li>
                            <li>A <strong>preorder system</strong> for Early College's No Left Turn Cafe, which allows students to order online and receive status updates on their orders</li>
                            <li>A <strong>project bulletin</strong>, where teachers can post unique and exceptional student projects from their classes</li>
                            <li>Access to Alsion's online magazine, <strong>Witherly Heights (in development)</strong></li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-lg-6 block">
                <img class="image-block" src="https://alsionschool.org/images/student-life/Garden.jpg" alt="fancy pic">
            </div>
        </div>
        <!-- Block 3 -->
        <div class="row" style="margin-bottom: 5rem;" id="block-3">
            <div class="col-lg-6">
                <article class="text-block">
                    <div class="block-header red">
                        <h1>Community</h1>
                    </div>
                    <div class="block-content">
                        <p>SaberChat reaches out to all members of Alsion's community - students, teachers and parents in both Early College and Middle School.
                          As members of a small, tight-knit school, we value our community deeply. Saberchat will strengthen the relationships between every Alsionite.
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-lg-6 block">
                <img class="image-block" src="https://pbs.twimg.com/media/BmLCEgeCAAAmESz.jpg" alt="fancy pic">
            </div>
        </div>
    </div>
</main>
<%- include('./partials/footer') %>
<script>
    window.onload = function() {
        window.onscroll = function() {
            updateNav();
            animateDisplay();
        }
    }
</script>
</body>
</html>
