#profile-image {
    position: relative;
    display: block;
    width: 230px;
    height: 230px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#banner-image {
    background-position: center;
    background-size: cover;
    filter: brightness(70%);
    width: 100%;
}

#edit-settings, #profile-image-update, #settings-header {
    text-align: center;
}

#settings-header {
    width: 100%;
}

#delete-account {
    margin-top: 30px;
}

#tag-group {
    margin-left: 10px;
    display: inline;
}

#profile-input {
    margin-bottom: 10px;
}

#password-reset {
    border-color: black;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 30px;
}

.password-input {
    border-color: darkgrey;
    border-width: 1px;
}
