/* css for the view profile page */

/* .profile-head{
    text-align: center;
  
}

.profile-head h1{
    margin-top: 1rem;
    margin-bottom: 0;
}

.profile-head p{
    font-size: 1.3rem;
    color: #9f9aa4;
    margin-bottom: 1rem;
    font-weight: 300;
}

.profile-head h4{
    font-size: 1.5rem;
    color: #424651;
    margin-bottom: 1rem;
    font-weight: 300;
}

.profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -100px;
    background-color: #ffffff;
} */

/* 
====================
Body Background
 */
body {
    background-color: #065471;
}

/* 
====================
User banner 
*/
#banner{
    background-position: center;
    background-size: cover;
    height: 35vh;
}

/* 
====================
Profile card info 
*/
.profile-card {
    background-color: #0a91ab;
    border-radius: 15px;
    overflow: hidden;
    color: #def4fc;
}

/* - card head */
.profile-head hr {
    border: 3px solid #38c065;
    margin-bottom: 5px;
    margin-top: 10px;
}

.profile-head h1 {
    text-align: center;
    padding: 20px 15px 0px 15px;
    font-size: 2rem;
    color: #042633;
}

/* - card body */
.profile-body {
    padding-left: 20px;
    padding-right: 20px;
}

.profile-body span {
    display: block;
    text-align: center;
}

.profile-body h4 {
    font-size: 1.3rem;
    margin-bottom: 0px;
    color: #043547;
}

.profile-body p {
    font-size: 1rem;
    font-weight: 300;
}

/* 
====================
Description 
*/
.profile-desc {
    background-color: #0a91ab;
    border-radius: 15px;
    padding: 20px 20px;
    color: #def4fc;
}

.profile-desc h1 {
    color: #042633;
    font-size: 2rem;
    font-weight: 500;
}

.profile-desc p {
    font-weight: 400;
}

/* 
====================
Profile Image
 */
.profile-image {
    display: block;
    width: 230px;
    height: 230px;
    object-fit: cover;
    margin: 0 auto;
    margin-top: -115px;
    border-radius: 50%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

/* 
====================
Username
 */
.username {
    margin-top: 1rem;
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 1.7rem;
    color: #042633;
    background-color: #0a91ab;
    padding: 10px 20px;
    border-radius: 15px;
}

@media only screen and (max-width: 768px) {
    .profile-desc {
        margin: 1.7rem 0;
    }
}
