body, #submit-project-edits, #submit-new-project {
    text-align: center;
}

label, #image-heading {
    float: left;
}

#creator-input-div, .image-group {
    text-align: left;
}

#title-label, #creator-input-label, #description-label {
    font-weight: bold;
}
