body, #submit-project-edits, #submit-new-project {
  text-align: center;
}

label, #image-heading {
  float: left;
}

#creator-div, .image-group {
  text-align: left;
}

#title-label, #creator-label, #description-label {
  font-weight: bold;
}
