.projects {
  text-align: center;
}

.project-img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.project-info {
  width: 100%;
  height: 100%px;
  margin-top: -100px;
  padding-top: 50px;
}

#project-container {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.project-title {
  margin-top: 10px;
}

#new-project-message, #new-project-images {
  margin-left: 300px;
  margin-right: 300px;
}

#creators {
  margin-left: 0px;
  width: 450px;
  margin-right: 0px;
  color: blue;
}

#new-project-text {
  margin-left: 300px;
  margin-right: 300px;
  height: 200px;
}

#dropdown-button {
  margin-left: 300px;
}

#clear {
  margin-right: 300px;
}

@media only screen and (max-width: 768px) {
  .project-info {
    margin-top: -75px;
  }

  #new-project-message, #new-project-images {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
  }

  #creators {
    margin-left: 0px;
    width: 10px;
    margin-right: 0px;
    color: blue;
  }

  #new-project-text {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
  }

  #dropdown-button {
    margin-left: 50px;
  }

  #clear {
    margin-right: 50px;
  }

  #project-container {
    width: 100%;
    display: inline-block;
  }
}

#edit-button {
  margin-top: 20px;
  margin-right: 10px;
  display: inline-block;
}
