.ann-container {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.post-info, #exampleModalLabel, .modal-body, .creator-name, .creator-div, .post-info:hover {
    color: black;
}

#sender-profile, .creator-profile {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

#post-date {
    color: #6e6e6e;
}

#handled {
    color: rgb(66, 167, 41);
    font-weight: bold;
}

#not-handled {
    color: rgb(226, 80, 80);
    font-weight: bold;
}

.reported-buttons {
    width: 20%;
    text-align: center;
}

#edit-div, #like-div {
    margin-bottom: 15px;
    margin-top: -15px;
}

.edit-button-text, .edit-button-text:hover {
    color: white;
    text-decoration: none;
}

#delete-form {
    display: inline-block;
}

.modal-body, .comment-body {
    text-align: left;
}

.creator-div, .like-count-comment {
    display: inline;
}

.post-description {
    margin-top: 10px;
    white-space: pre-wrap;
    text-align: left;
}

.post-image {
    width: 40%;
    height: 40%;
    object-fit: contain;
    border-radius: 15px;
}

#comment-section {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

#comments-heading {
    padding-top: 50px;
    padding-bottom: 20px;
}

#comment-input-box {
    border-color: black;
    border-width: 1px;
}

#comment-input {
    background-color: #cdd0d4;
}

.mentioned-comment {
    background-color: orange;
}

.comment-date {
    margin-left: 10px;
}

.liked-post, .unliked-post {
    color: #03a5fc;
    text-decoration: none;
    font-size: 140%;
    display: inline;
}

.unliked-post {
    color: grey;
    text-decoration: none;
    font-size: 160%;
    display: inline;
}

#like-count {
    font-size: 130%;
}

#comments-count-icon {
    color: grey;
    text-decoration: none;
    font-size: 140%;
    margin-left: 10px;
}

#post-like-row {
    display: inline;
}

.liked-comment {
    color: #03a5fc;
    text-decoration: none;
    font-size: 75%;
}

.unliked-comment {
    color: grey;
    text-decoration: none;
    font-size: 75%;
}
