.mode, .mode:focus, .mode:hover {
  background-color: #343a40;
  color: white;
}

.search, .search:focus{
  color: white;
  background-color: #343a40;
}
.header{
  background-color: grey;
  color: white;
}
.cafe,.cafe:focus,.cafe:hover{
  background-color: #000057;
  color: #7FFFD4;
}

.cafetext !important{
  color: #7FFFD4;
}

#role-header, #status-header, #email-header {
    color: turquoise;
}
.chat, .chat:hover, .chat:focus{
  background-color: #404040;
  color: white;
}
.chatbar, .chatbar:focus, .chatbar:hover{
  background-color: darkgrey;
  color: white;

}
.shadow{
  box-shadow: 0px 10px 20px darkblue;
}
