.mode, .mode:focus, .mode:hover {
  background-color: #343a40;
  color: white;
}

.darkmode-outline, .darkmode-outline:focus, .darkmode-outline:hover {
    background-color: #1f2326;
}

.search, .search:focus {
  color: white;
  background-color: #343a40;
}

.header {
  background-color: grey;
  color: white;
}

.shop,.shop:focus,.shop:hover {
  background-color: #000057;
  color: #7FFFD4;
}

.shoptext {
  color: #7FFFD4;
}

#role-header, #status-header, #email-header {
    color: turquoise;
}

.chat, .chat:hover, .chat:focus {
  background-color: #404040;
  color: white;
}

.chatbar, .chatbar:focus, .chatbar:hover {
  background-color: darkgrey;
  color: white;
}

.shadow {
  box-shadow: 0px 10px 20px darkblue;
}

#darkmode-header, .darkmode-header {
    color: white;
}

#exampleModalLabel {
    color: white;
}

#extra-instructions {
  color:  rgb(47, 185, 172);
  font-weight: bold;
}

#balance-heading {
  font-weight: bold;
}

#balance-box {
  color: rgb(47, 185, 172);
  font-weight: bold;
}

#total-cost {
  color: rgb(47, 185, 172);
  font-weight: bold;
}