article.text-block {
    padding-bottom: 1px;
    background-color: #ffffff;
    margin-bottom: 3rem;
    overflow: hidden;
}

.text-block, .image-block {
    box-shadow: 0px 0px 15px rgb(180, 180, 180);
    border-radius: 15px;
}

.image-block {
    width: 100%;
}

.text-block .block-header {
    padding: 15px 30px 5px 30px;
    background-color: #424651;
    color: #ffffff;
}

.text-block .block-content {
    padding: 15px 30px;
}

footer {
    background-color: #333442;
    color: #ffffff;
    padding: 50px 30px;
}

@media only screen and (min-width: 992px) {
    article.text-block {
        margin-bottom: 0;
    }

    img.image-block {
        position: absolute;
        width: calc(100% - 30px);
        height: 100%;
        object-fit: cover;
    }
}