/* css for the home page for now. I'm not sure if we even need to create a separate file for it. */

/* Fix for links not making pointer point */

a:hover {
    cursor: pointer;
}

/* Fix for padding on mobile info page */

div[class="col-lg-6 block"] {
    padding-bottom: 1vh !important;
}

/* Makesure body and html elements go all the way down */
html, body {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

.embedded-link {
    text-decoration: underline;
}

.post-bar {
    background-color: white;
    width: 400px;
    height: 750px;
    padding-bottom: 10px;
    margin-right: 200px;
    float: left;
}

.post-notification {
    margin-bottom: 5px;
    font-size: 10px;
}

#post-bar-header {
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
}

.profile-img {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 50%;
}

#developers {
    font-style: italic;
}

#developers-heading, .feature-description {
    font-weight: bold;
}

.witherly-heights-image {
    padding-bottom: 10px;
}

#witherly-heights-text {
    font-size: 30px;
    color: #4658ff;
    /* background: linear-gradient(to right, #84f1ff, #461dff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

#cafeMenuButton:hover {
    filter: brightness(95%);
    cursor: pointer;
}
