/* css for the home page for now. I'm not sure if we even need to create a separate file for it. */

/* Makesure body and html elements go all the way down */
html, body {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

.embedded-link {
  text-decoration: underline;
}

.announcement-bar {
  background-color: white;
  width: 400px;
  height: 750px;
  padding-bottom: 10px;
  margin-right: 200px;
  float: left;
}

.announcement-notification {
  margin-bottom: 5px;
  font-size: 10px;
}

#announcement-bar-header {
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
}

.profile-img {
  height:30px;
  width: 30px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 50%;
}

#developers {
  font-style: italic;
}

#developers-heading, .feature-description {
  font-weight: bold;
}
