/*
================================
flash messages
================================
 */

 #flash {
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.alert.alert-success {
    color: #7ae448;
    background-color: #000000ad;
    border-color: #ffffff;
}

.alert.alert-danger {
    color: #df514f;
    background-color: #000000ad;
    border-color: #ffffff;
}



/*
================================
User login form
================================
 */

.user-form {
    position: absolute;
    right: 10%;
    z-index: 2;
    background-color: white;
    padding: 0 15px;
    height: 0;
    min-width: 304px;
    overflow: hidden;
    transition: height ease-out 500ms;
    -webkit-transition: height ease-out 500ms;
}

/* classes for animation */
.signup.display {
    /* height: 350px; */
    height: 525px;
    transition: height ease-out 500ms;
    -webkit-transition: height ease-out 500ms;
}

.login.display {
    height: 250px;
    transition: height ease-out 500ms;
    -webkit-transition: height ease-out 500ms;
}

/* the 'x' button styling */
.form-close {
    position: absolute;
    right: 1rem;
    top: 0.3rem;
    font-size: 1.5rem;
    color: #dc3545;
}

.form-close:focus, .form-close:hover {
    color: #9e2531;
}

.btn.btn-h {
    width: 50%;
    position: absolute;
    display: inline-block;
}

.btn-l {
    left: 0;
}

.btn-r {
    right: 0;
}

/* 
SignUp form animations
================================
 */
.user-info {
    position: absolute;
    margin-left: -110%;
    z-index: -1;
    transition: margin 0.3s ease-out;
    -moz-transition: margin 0.3s ease-out;
    -webkit-transition: margin 0.3s ease-out;
}

.user-info.display {
    margin-left: 0;
    width: calc(100% - 30px);
}

.login-info {
    position: absolute;
    margin-left: 110%;
    margin-right: -110%;
    z-index: -1;
    transition: margin 0.3s ease-out;
    -moz-transition: margin 0.3s ease-out;
    -webkit-transition: margin 0.3s ease-out;
}

.login-info.display {
    margin-left: 0;
    width: calc(100% - 30px);
}

/*
================================
Custom styling for the bootstrap nav
================================
 */
.bg-custom {
    background: none;
}

#nav-component {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
}

#nav-component.nav-fixed {
    position: fixed;
    background-color: #0000009c;
    z-index: 1;
}

.dropdown-item {
    color: #ffffff;
}

div.dropdown-menu.show {
    color: white;
    background-color: #000000c2;
}

.navbar-brand span {
    color: #ff5451;
}

.navbar-custom .navbar-nav .nav-link {
    color: rgb(255,255,255);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #9f9aa4;
}

@media only screen and (max-width: 768px) {
    #collapsibleNavbar {
        padding: 0px 15px 15px 15px;
        background-color: #000000c2;
        border-radius: 15px;
    }
}

.profile-img {
  height:25px;
  width: 25px;
  object-fit: cover;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
}
