/* 
================================
flash messages
================================
 */

 #flash {
    position: absolute;
    z-index: 1;
    min-width: 400px;
    left: 50%;
    margin-left: -200px;
}



/* 
================================
User login form
================================
 */

.user-form {
    position: fixed;
    right: 10%;
    z-index: 2;
    background-color: white;
    padding: 0 15px;
    height: 0;
    min-width: 304px;
    overflow: hidden;
    transition: height ease-out 500ms;
    -webkit-transition: height ease-out 500ms;
}

/* classes for animation */
.signup.display {
    height: 350px;
    transition: height ease-out 500ms;
    -webkit-transition: height ease-out 500ms;
}

.login.display {
    height: 250px;
    transition: height ease-out 500ms;
    -webkit-transition: height ease-out 500ms;
}

/* the 'x' button styling */
.form-close {
    position: absolute;
    right: 1rem;
    top: 0.3rem;
    font-size: 1.5rem;
    color: #dc3545;
}

.form-close:focus, .form-close:hover {
    color: #9e2531;
}

/* 
================================
Custom styling for the bootstrap nav
================================
 */
.bg-custom {
    background-color: #c3423f;
}

.navbar-custom .navbar-nav .nav-link {
    color: rgb(255,255,255);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #9f9aa4;
}