#menu {
    margin-top: -1px;
}

.section-heading, .section-heading:hover {
    color: inherit;
    text-decoration: none;
}

.section-heading {
    color: inherit;
}

.paying-style {
    margin-top: 20px;
    font-weight: bold;
}

.date {
    margin-top: 10px;
    font-style: italic;
}

.cancel {
    text-decoration: none;
    color: inherit;
}

.order-heading, .instructions {
    font-weight: bold;
}
