#heading, h1, h2 {
  text-align: center;
}

h1 {
  width: 100%;
}

#category-name {
  display: inline-block;
}

.field {
  width: 100%;
}

#type-input-label {
  padding-top: 20px;
}

#image-block {
  text-align: center;
}

#item-image {
  width: 30%;
  border-radius: 15px;
}

#balance-heading {
  font-size: 120%;
}

.category-header {
  margin-top: 40px;
}

.style-div {
  margin-left: 2%;
}

.form-check-label {
  margin-left: 1%;
  font-size: 15px;
}

.popular {
  font-weight: bold;
  color: green;
  margin-left: 5px;
}

.upvotes {
  margin-left: 10px;
  display: inline;
}

#order-confirm, #extra-instructions, #balance-box, #total-cost, #paying-style {
  margin: 0px;
}

#extra-instructions {
  color: blue;
}

#balance-box {
  color: purple;
}

#total-cost {
  color: green;
}

#paying-style {
  color: red;
}
