<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witherly Heights</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/wHeights/new.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
    <script defer src="/javascript/wHeights/new.js"></script>
</head>
<body>
    <!-- witherly heights navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Witherly Heights</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- editor -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Head. Enter title and author -->
                <div id="article-head">
                  <h1>New Post</h1>
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input name="title" id="title" class="form-control" type="text">
                  </div>
                  <div class="form-group">
                      <label for="author">Author</label>
                      <input id="author" class="form-control" type="text" name="author">
                  </div>  
                  <button onclick="next()" class="btn btn-primary">Next -></button>
                </div>
                <!-- Editor, build the article -->
                <div id="article-body">
                  <h1>Editor</h1>
                  <p>Title: <span id="title-display"></span></p>
                  <p>Author: <span id="author-display"></span></p>
                  <h4>Content</h4>
                  <!-- editor controls -->
                  <button type="button" onclick="addText()" class="btn btn-primary">Add Text Block</button>
                  <div class="input-group my-3">
                    <input id="image-input" type="text" class="form-control" placeholder="image Url" aria-label="image Url" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button onclick="addImage()" class="btn btn-outline-secondary" type="button">Add Image</button>
                    </div>
                  </div>
                  <button id="create-btn" class="btn btn-success">Create</button>
                  <hr>
                  <!-- display content -->
                  <div class="row">
                    <div class="col-12 col-lg-9 col-md-10 mx-auto">
                      <div id="article-content">
                        <div class="text-block">
                          <textarea class="text-input form-control" id="t-1" name="content[t-1]" rows="1" oninput="autoGrow(this)"></textarea>
                          <button class="delete-btn btn btn-danger" onclick="remove(this)"><i class="far fa-trash-alt"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>