.text-center {
  margin-bottom: 0;
}

.text-element {
  margin-bottom: 5rem;
}

#faculty-header {
  font-weight: bold;
  font-style: italic;
}

#faculty {
  font-style: italic;
}

.developer-info {
  font-weight: bold;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.end {
  width: 35.5%;
}

.row-end {
  overflow: hidden;
  width: 100%;
}

.col-dev {
  margin-right: -30px;
}

.col-photo {
  margin-left: -30px;
}

.dev-row {
  margin-left: -25px;
  margin-right: 10px;
}

.photo-row {
  margin-right: -25px;
  margin-left: 10px;
}

.photo-div {
  border-radius: 2rem;
  overflow: hidden;
}

@media (max-width: 760px) {
  .faculty-info {
    margin-top: 50px;
  }
}
