.text-center {
  margin-bottom: 0;
}

.text-element {
  margin-bottom: 5rem;
}

#faculty-header {
  font-weight: bold;
  font-style: italic;
}

#faculty {
  font-style: italic;
}

.developer-info {
  font-weight: bold;
}

.dev-image {
  width: 20%;
  height: 20%;
  border-radius: 15px;
}
