.text-center {
  margin-bottom: 0;
}

.text-element {
  margin-bottom: 5rem;
}

#faculty-header {
  font-weight: bold;
  font-style: italic;
}

#faculty {
  font-style: italic;
}

.developer-info {
  font-weight: bold;
}

.dev-image, .teacher-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.end {
  width: 35.5%;
}

.col-dev {
  margin-right: -30px;
}

.col-teacher {
  margin-left: -30px;
}

.dev-row {
  margin-left: -25px;
  margin-right: 10px;
}

.teacher-row {
  margin-right: -25px;
  margin-left: 10px;
}
