<!DOCTYPE html>
<html>
  <head>
    <title>Saberchat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- link css for navbar. Don't need to include public/javascript/userForm.js since user is already logged in and does not need to access login and register forms.  -->
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/components/header.css">
    <link rel="stylesheet" href="/stylesheets/projects/projects.css">
    <link rel="stylesheet" href="/stylesheets/announcements/form.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="../javascript/socket.js"></script>

    <!-- I'm using my fontawesome kit -->
    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>

  </head>
  <body style="text-align: center;">
    <!-- include the navbar via ejs -->
    <%- include('../partials/navbar') %>
    <%- include('../partials/header') %>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron text-center">
            <h1><i class="fas fa-paint-brush"></i> Add Project </h1>
            <p>Submit an exceptional or unique student project</p>
            <a class="btn btn-primary" href="/projects"><i class="fas fa-arrow-left"></i> Back</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-md-2 col-12">
        <form action="/projects" method="post" style="text-align: center;">
          <div class="form-group">
            <label style="float: left;" for="new-project-message"><strong>Title</strong></label>
            <input id="new-project-message" name="title" maxlength="30" type="text" class="form-control" placeholder="Project Title" aria-label="Username" aria-describedby="basic-addon1" required>
          </div><br />

          <div class="form-group" id="creator-div" style="text-align: left;">
            <label style="float: left;" for="creator-select"><strong>Creators</strong></label>
            <select id="creator-select" class="form-control" onchange="addCreator('user')" required>
              <option value="" selected disabled>Select Students</option>
              <% students.forEach(student => { %>
                <option value="<%=student._id%>"><%=student.username%></a>
              <% }) %>
            </select>
            <input type="text" id="creator-input" name="creatorInput" hidden />
            <br />
          </div>

          <div class="form-group">
            <label style="float: left;" for="image-input"><strong>Image</strong></label>
            <input id="image-input" type="text" name="img" class="form-control" placeholder="Enter Image Url" aria-label="Username" aria-describedby="basic-addon1" required>
            <br />
            <img id="project-image" style="width: 30%; height: 30%;" src="" alt="Image Does Not Exist"/>
          </div><br />

          <div class="form-group">
            <label style="float: left;" for="new-project-text"><strong>Description</strong></label>
            <textarea id="new-project-text" minlength="200" maxlength="800" name="text" rows="5" placeholder="Write a little about the project" class="form-control" aria-label="With textarea" required></textarea>
          </div><br />

          <button class="btn btn-primary btn-block" type="submit">Post</button><br />
        </form>
      </div>
    </div>
  </body>

  <script>

    const creatorSelect = document.getElementById('creator-select');
    const creatorDiv = document.getElementById('creator-div');
    const creatorInput = document.getElementById('creator-input');
    const imageInput = document.getElementById('image-input');
    const projectImage = document.getElementById('project-image');

    $("#project-image").hide()

    let creatorList = [];

    const addCreator = (user => {
      if (!creatorList.includes(creatorSelect.value)) {

        let newCreator = document.createElement('div');
        newCreator.classList.add('user-tag');
        newCreator.id = `${creatorSelect.value}`;
        creatorList.push(creatorSelect.value);
        creatorInput.value = creatorList.toString();

        newCreator.innerHTML = `<span name="creators" value="${creatorSelect.value}">${creatorSelect.options[creatorSelect.selectedIndex].text}</span>
        <button type="button" id="${creatorSelect.value}" onclick="remCreator(this)">&times;</button>`;
        creatorDiv.appendChild(newCreator);
      }
    })

    const remCreator = (btn => {
      const id = btn.id;

      const userTags = document.getElementsByClassName('user-tag');
      for (let tag of userTags) {

        if(tag.id == id) {
          creatorDiv.removeChild(tag);
          creatorList.splice(creatorList.indexOf(id), 1);
          creatorInput.value = creatorList.toString();
        }
      }
    })

    imageInput.addEventListener('keydown', () => {
      setTimeout(() => {

        if (imageInput.value == "") {
          projectImage.src = imageInput.value;
          $("#project-image").hide();

        } else {
          projectImage.src = imageInput.value;
          $("#project-image").show();
        }
      }, 3)
    })

    imageInput.addEventListener('paste', () => {
      setTimeout(() => {
        projectImage.src = imageInput.value;

        if (imageInput.value == "") {
          $("#project-image").hide();

        } else {
          $("#project-image").show();
        }
      }, 3)
    })

  </script>
</html>
