.average-rating-unselected {
    color: white;
}

.tab, .mode, .upvote-count {
    color: white;
}

.active-tab, .user-position {
    color: turquoise;
}

#exampleModalLabel, #slots-label {
  color: white;
}
