.category-header {
    margin-top: 40px;
}

.upvote {
    color: grey;
    text-decoration: none;
    display: inline;
}

.upvote-count {
    float: right;
    color: green;
    font-weight: bold;
}

#modify-banned {
    color: red;
    font-weight: bold;
}

.item-name {
    font-weight: bold;
}
