h1.title {
    color: #424651;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 3rem;
}

.search-filter {
    margin-bottom: 2rem;
    border-bottom: 1px solid #424651;
}

input#search-input {
    display: inline-block;
    width: 80%;
    border: none;
    border-radius: 0;
    outline: 0;
    box-shadow: none;
}

#search-input:focus, #search-input:active {
    border-bottom: 3px;
}

.profile-image {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

strong {
    font-weight: bold;
}

.category-header {
    margin-top: 40px;
}

.upvotes {
    margin-left: 10px;
    display: inline;
}

.upvoted {
    color: red;
    text-decoration: none;
}

.not-upvoted {
    color: grey;
    text-decoration: none;
}

.item-description {
    font-style: italic;
}

.item-image {
    width: 20%;
    height: 20%;
    border-radius: 20px;
    margin-top: 20px;
}

.item-name {
    font-weight: bold;
}

.popular {
    float: right;
    color: green;
    font-weight: bold;
}

.no-link-container {
    position: relative;
}

.no-link-container:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}

#sort-option {
    margin-top: 30px;
    width: 200%;
}