<!DOCTYPE html>
<html lang="en">
<head>
    <!-- home page -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saberchat</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/home/index.css">
    <link rel="stylesheet" href="/stylesheets/components/background.css">
    <link rel="stylesheet" href="/stylesheets/components/navbar.css">
    <link rel="stylesheet" href="/stylesheets/other/index.css">
    <%if (currentUser) {%>
      <%if (currentUser.darkmode) { %>
        <link rel="stylesheet" href="/stylesheets/Darkmode.css">
      <%}%>
    <%}%>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/dccc745c41.js" crossorigin="anonymous"></script>
    <script src="/javascript/nav/userForm.js"></script>
    <script src="/javascript/nav/navbar.js"></script>
    <script src="/javascript/home/index.js"></script>
</head>
<body class="mode">
<!-- insert navbar via ejs-->
<%- include('../partials/navbar') %>

<!-- Background image and text -->
<section id="background">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-12 background-title">
                <h1>Saberchat</h1>
                <p>Welcome to Saberchat, Alsion's very own communication platform!</p>
            </div>
        </div>
    </div>
</section>

<!-- Home Page content -->
<main id="main-container">
    <div class="container mt-5">
        <!-- Block 1 -->
        <div class="row text-element">
            <div class="col-lg-6">
                <article class="text-block mode">
                    <div class="block-header green">
                        <h1>What Is Alsion About?</h1>
                    </div>
                    <div class="block-content mode">
                        <p>Alsion Middle/High School offers an experiential and rigorous academic program that is just a bit different. Students complete a challenging 3-year Middle School program inspired by Montessori principles, designed to foster intellectual curiosity and love of learning.
                          Then they advance to our accelerated High School program where they earn credits that are transferable to 4-year universities and gain a valuable head start on college.</p>
                          <p>Our mission at Alsion Middle School and High School is to foster and nurture the holistic development of our students. This means promoting their growth intellectually, physically, emotionally, socially and psychologically. We strive to empower Alsion students to be global citizens with a deep and ethical understanding of their responsibilities to humanity. Alsion is different educational experience:</p>
                    </div>
                </article>
            </div>
            <div class="col-lg-6 block">
                <img class="image-block" src="https://alsionschool.org/images/community/gallery/Garden2.jpg" alt="Alsion Photograph">
            </div>
          </div>

            <div class="row text-element">
              <div class="col-lg-6 block">
                  <img class="image-block" src="https://i.imgur.com/vHk2WRC.jpg" alt="Alsion Photograph">
              </div>
              <div class="col-lg-6">
                  <article class="text-block mode">
                      <div class="block-header green">
                          <h1>Our Teaching Emphasis</h1>
                      </div>
                      <div class="block-content mode">
                        <ul>
                          <li>Meaningful rigor without the high pressure stresses that are common in a more traditional setting
                          </li>
                          <li>
                            Hands-on experiential learning (several field trips, week-long biome trips, ex-term trips,  gardening) inculcates a love of learning
                          </li>
                          <li>
                            Small class sizes with roundtable discussion formats, Socratic discussions and group collaborative projects
                          </li>
                          <li>
                            Individualized instruction inspired by Montessori principles
                          </li>
                          <li>
                            Emphasis on critical thinking skills, building independence and self-direction through original research, study of current affairs, personal choices and activities like Market Day, school paper “Witherly Heights”, running own school cafe)
                          </li>
                        </ul>
                      </div>
                  </article>
                </div>
            </div>

            <div class="row text-element">
              <div class="col-lg-6">
                <article class="text-block mode">
                  <div class="block-header green">
                      <h1>What Makes Us Unique?</h1>
                  </div>
                  <div class="block-content mode">
                    <p>
                    Our Middle School uses the Montessori method of instruction. Our teachers, either certified by the American Montessori Society (AMS)
                     or oriented by the North American Montessori Teachers Association (NAMTA), make Alsion a vibrant setting for mastery in the core subjects of art, communication,
                     English, history, language, literature, mathematics and the sciences. That our 7th to 9th graders grasp these subjects firmly — through individualized instruction,
                     hands-on academics, and self-propelled drive to learn — can be attributed to how our pedagogy follows the precepts of Maria Montessori.
                    </p>

                    <p>
                    Our High School, which is an early-college program, builds on the foundational work laid down by the middle school. From 10th to 12th grade, our students are immersed in a rigorous scholastic
                    regimen that includes Advanced Placement classes and, for the most part, college courses. The accelerated and comprehensive nature of the program, in addition to extracurricular opportunities,
                    prime our graduates for further studies in four-year universities and make them conscientious caretakers of the world we all inhabit.
                    </p>
                    <span id="faculty-header">Faculty: </span><span id="faculty"><%=faculty%></span>
                  </div>
                </article>
              </div>
              <div class="col-lg-6 block">
                <img class="image-block" src="images/alsion-a.png" alt="Alsion Photograph">
              </div>
            </div>

        </div>
      </div>
</main>

<%- include('../partials/footer') %>
<script>
    window.onload = (() => {
        window.onscroll = (() => {
            updateNav();
            animateDisplay();
        });
    });
</script>
</body>
</html>
