<div class="modal fade" id="modal-pwd" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content mode">
            <div class="modal-header mode">
                <h5 class="modal-title" id="exampleModalLabel">Forgot Password?</h5>
                <button type="button" class="close mode" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mode">
                <small class="form-text text-muted reset-password-text">We'll send instructions on how to reset your
                    password.</small>
                <input class="form-control" form="login-form" type="email" name="newPwdEmail"
                       placeholder="Enter email address"/>
            </div>
            <div class="modal-footer mode">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                <button type="submit" form="login-form" formaction="/forgot-password" class="btn btn-primary">Send
                    Instructions
                </button>
            </div>
        </div>
    </div>
</div>
