<div class="popup-container">
    <div class="popup-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quo, rem omnis distinctio nam perspiciatis optio quam adipisci dignissimos.</p>
        <div class="popup-buttons">
            <button class="btn btn-secondary">Ignore</button>
            <a href="" class="btn btn-success">View</a>
        </div>
    </div>
</div>